<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">

        <% if params[:plan] == '2' %>
          <div class="text-center">
            <h1>Pro Account</h1>
            <p>Sign up for the pro account for $10/month and get access to the community and contact information!</p>
          </div>

          <div class="well">
            <%= render "pro_form" %>
          </div>

        <% else %>
          <div class="text-center">
            <h1>Basic Account</h1>
            <p>Sign up for free and get basic access to the community.</p>
          </div>

          <div class="well">
            <%= render "basic_form" %>
          </div>

        <% end %> 

      <div class="text-center">
        <%= render "devise/shared/links" %>
      </div>
      
    </div>
  </div>
</div>